<!DOCTYPE html>
<html>

<head>
    <title>OpenWeatherMap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
    <div class="container">
        <h1>OpenWeatherMap</h1>

        <form id="myForm" action="/search" method="POST">
            <label for="cityInput">Enter City:</label>
            <input type="text" id="cityInput" name="city" required>
            <input type="submit" value="Search">

            <div class="result">
                <% if (locals.temp && locals.country && locals.weather) { %>
                    <p><%= temp %>°</p>
                    <p><%= city %> - <%= country %></p>
                    <p><%= weather %></p>
                    <% } %>
            </div>
        </form>
    </div>
</body>

</html>