<!DOCTYPE html>
<html>

<head>
    <title>OpenWeatherMap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
    <div class="container">
        <h1>OpenWeatherMap</h1>

        <form id="myForm" action="/search" method="POST">
            <label for="cityInput">Enter City:</label>
            <input type="text" id="cityInput" name="city" required>
            <input type="submit" value="Search">

            <% if (locals.temp && locals.country && locals.weather) { %>
                <div class="result">
                    <p><%= city %> - <%= country %></p>

                    <div class="weather">
                        <p><%= temp %>°</p>

                        <% if (weather == "Clouds") { %>
                            <img src="img/cloud.png" alt="cloud">
                        <% } else if (weather == "Clear") { %>
                            <img src="img/clear.png" alt="clear">
                        <% } else if (weather == "Rain") { %>
                            <img src="img/rain.png" alt="rain">
                        <% } else if (weather == "Snow") { %>
                            <img src="img/snow.png" alt="snow">
                        <% } %>
                    </div>
                </div>
            <% } %>
        </form>
    </div>
</body>

</html>